body {
  background-color: #fffaf4;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #eabe2e;
}

a.logo {
  color: #eabe2e;
}

a.logo:hover {
  color: black;
}

.header-container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  flex-wrap: wrap;
}

.header-container a {
  margin-right: 30px;
}

@media only screen and (max-width: 768px) {
  .header-container h1 {
    width: 100%;
  }

  .header-container h2 {
    font-size: 1rem;
  }
}

/* engineering.js */
.engineering__github-link {
  color: white;
  background-color: #eabe2e;
  border-radius: 50%;
  position: absolute;
  top: -46px;
  right: 4px;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.engineering__github-link h2 {
  margin-bottom: 0px;
}

.engineering__github-link:hover {
  color: black;
}

@media only screen and (max-width: 768px) {
  .engineering__github-link {
    top: unset;
    right: unset;
    left: 0;
    bottom: 0;
    position: fixed;
    border-radius: 0%;
    height: 50px;
    width: 100%;
  }
}