body {
  background-color: #fffaf4;
}

a {
  color: black;
  text-decoration: none;
}

h3 a {
  text-decoration: underline;
}

a:hover {
  color: #eabe2e;
}

a.logo {
  color: #eabe2e;
}

a.logo:hover {
  color: black;
}

.index__main-image {
  background: url("https://s3.amazonaws.com/kana-assets/bg.jpg");
  background-size: cover;
  height: calc(100vh - 8.45rem);
  transition: filter 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.index__main-image.isDrawing {
  filter: invert(100%);
}

.header-container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  flex-wrap: wrap;
}

.header-container a {
  margin-right: 30px;
}

@media only screen and (max-width: 768px) {
  .header-container h1 {
    width: 100%;
  }

  .header-container h2 {
    font-size: 1rem;
  }
}

/* cv.js */
.cv__github-link {
  color: white;
  background-color: #eabe2e;
  border-radius: 50%;
  position: absolute;
  top: -46px;
  right: 4px;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cv__github-link h2 {
  margin-bottom: 0px;
}

.cv__github-link:hover {
  color: black;
}

@media only screen and (max-width: 768px) {
  .cv__github-link {
    top: unset;
    right: unset;
    left: 0;
    bottom: 0;
    position: fixed;
    border-radius: 0%;
    height: 50px;
    width: 100%;
  }
}
